:root {
  --text-color-primary: #212121;
  --text-color-secondary: #757575;
  --color-brand: #2196f3;
  --color-black: #000;
  --color-white: #fff;
  --color-white-secondary: rgba(255, 255, 255, 0.6);
  --color-icon: #afb1b8;
  --bgc-primary: #2f303a;
  --bgc-secondary: #f5f4fa;
  --bgc-inverted: #188ce8;
  --bgc-white-icon: rgba(255, 255, 255, 0.1);
  --bgc-wrap: rgba(47, 48, 58, 0.8);
  --bgc-brand: rgba(33, 150, 243, 0.9);
  --bgc-backdrop: rgba(0, 0, 0, 0.2);
  --color-modal-icon: rgba(0, 0, 0, 0.1);
  --color-border: #ececec;
  --color-border-secondary: #eeeeee;
}
